<div class="description-content" [ngClass]="{ hidden: isDescriptionHidden }">
  <ng-container *ngIf="isMobile; else desktopContent">
    <p>
      A simple tool for tracking time during speeches, evaluations or practice
      sessions. Enter the duration in minutes or select a preset to begin.
    </p>
  </ng-container>
  <ng-template #desktopContent>
    <p>
      A simple tool for tracking time during speeches, evaluations or practice
      sessions.
    </p>
    <h2>How to use</h2>
    <p>
      Enter the duration in minutes or select a preset to begin. Use the
      <i>spacebar</i> or the start/stop button to control the timer and reset it
      with the reset button or the <i>Esc</i> key.
    </p>
  </ng-template>
  <h2>Timing rules</h2>
  <p>
    There are two sets of rules. The first applies to table topics and the
    second to speeches and evaluations:
  </p>
  <div
    class="rules"
    aria-label="1 or 2 minutes left, green screen appears; 30 seconds or 1 minute left, yellow screen appears; 0 seconds left, red screen appears; 15 seconds over, black border appears; 30 seconds over, screen pulses"
  >
    <ul class="rules--column" aria-hidden="true">
      <li>1min</li>
      <li>30s</li>
      <li>0s</li>
      <li>15s</li>
      <li>30s</li>
    </ul>
    <ul class="rules--column">
      <li>2min</li>
      <li>1min</li>
      <li>0s</li>
      <li>15s</li>
      <li>30s</li>
    </ul>
    <ul class="rules--column">
      <li>left, green screen appears</li>
      <li>left, yellow screen appears</li>
      <li>left, red screen appears</li>
      <li>over, black border appears</li>
      <li>over, screen pulses</li>
    </ul>
  </div>
  <p>Select <i>"Table topics"</i> preset for table topics rule to apply.</p>
</div>
