@import '../../_animations'

.backdrop
  width: 100%
  height: 100%
  transition: all 0.2s ease-in-out

.timer
  position: absolute
  left: 50%
  top: 50%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  font-size: 12rem
  margin: 0

@media (max-width: 1024px)
  .timer
    font-size: 8rem

@media (max-width: 768px)
  .timer
    font-size: 6rem
