<style></style>

<main class="main">
  <div class="sidebar">
    <h1>Toastmasters timer</h1>
    <i>
      This tool is for tracking time when giving or practising toastmasters
      speeches or evaluations
    </i>
    <h2>Rules</h2>
    <i>
      There are two sets of rules. First column applies to table topics, second
      one to speeches and evaluations. At
    </i>
    <div class="rules">
      <ul class="rules--column">
        <li>1min</li>
        <li>30s</li>
        <li>0s</li>
        <li>15s</li>
        <li>30s</li>
      </ul>
      <ul class="rules--column">
        <li>2min</li>
        <li>1min</li>
        <li>0s</li>
        <li>15s</li>
        <li>30s</li>
      </ul>
      <ul class="rules--column">
        <li>left, green screen appears</li>
        <li>left, yellow screen appears</li>
        <li>left, red screen appears</li>
        <li>over, black border appears</li>
        <li>over, screen pulses</li>
      </ul>
    </div>
    <i>Choose "Table topics" from preset to use table topics rule.</i>
    <h2>Controls</h2>
    <i>
      Choose speech time. Use buttons to control the timer. Alternatively use
      enter or spacebar keys to start/stop. Use escape key to reset it.
    </i>
    <div class="form">
      <div class="form--group">
        <label for="userMinutes">Enter minutes</label>
        <input
          type="number"
          placeholder="Minutes"
          class="form--input"
          [ngClass]="{
            'form--input--error':
              userMinutesInput.invalid && isStartTimerTouched
          }"
          [(ngModel)]="userMinutes"
          #userMinutesInput="ngModel"
          [disabled]="isDisabled"
          (change)="onTimeInputChange()"
          id="userMinutes"
          min="1"
          step="1"
          required
          appIntegerValidator
        />
      </div>
      <p>OR</p>
      <div class="form--group">
        <label for="speechPreset">Select preset</label>
        <select
          id="speechPreset"
          [(ngModel)]="selectedPreset"
          (change)="onPresetChange($event)"
          [disabled]="isDisabled"
        >
          <option
            *ngFor="let preset of speechPresets | keyvalue"
            [value]="preset.key"
          >
            {{ preset.key | capitalize }}
          </option>
        </select>
      </div>
      <div
        *ngIf="userMinutesInput.invalid && isStartTimerTouched"
        class="form--error"
      >
        {{ userMinutesInput.errors?.['message']}}
      </div>
    </div>
    <div class="controls">
      <button (click)="startTimer()" class="controls--button">
        Start Timer
      </button>
      <button (click)="stopTimer()" class="controls--button">Stop Timer</button>
      <button (click)="resetTimer()" class="controls--button">
        Reset Timer
      </button>
      <button (click)="toggleSeconds()" class="controls--button">
        {{ displaySeconds ? "Hide" : "Show" }} Time
      </button>
    </div>
    <h2>Is recording: {{ timer ? "YES" : "NO" }}</h2>
  </div>
  <div class="content">
    <div
      class="backdrop"
      [ngClass]="{ flash: shouldFlash }"
      [ngStyle]="{
        'background-color': colorMapping[backgroundColor],
        'box-shadow': getBoxShadow(),
      }"
    ></div>
    <p *ngIf="displaySeconds" class="timer">
      {{ formatTime(seconds) }}
    </p>
  </div>
</main>

<router-outlet />
