@import '../styles'
@import '../_animations'

.main
  display: flex
  background-color: $rose

.sidebar
  width: 298px
  padding: 0rem 1rem
  background-color: darken($rose, 1%)
  border-right: 1px solid darken($rose, 10%)
  height: 100vh
  display: flex
  flex-direction: column
  font-size: 0.9rem

.header
  display: flex
  justify-content: space-between
  align-items: center

.content
  flex-grow: 1
  position: relative
  min-height: 200px

.svg-icon
  transition: fill 0.3s ease-in-out

.description-toggle
  cursor: pointer
  font-size: 1.5rem
  margin: 0 1rem
  transition: color 0.2s ease-in-out

  &:hover
    color: lighten($black, 25%)

.mobile-only
  display: none

@media (max-width: 768px)
  .main
    flex-direction: column
    height: 100vh

  .sidebar
    width: auto
    height: auto
    border-right: none
    border-bottom: 1px solid darken($rose, 10%)
    padding: 1rem

  .header
    flex-direction: row

  .description-toggle
    margin: 0 .5rem

  .mobile-only
    display: block

@media (max-height: 420px)
  .sidebar
    height: fit-content

  .content
    height: 100vh