@import '../styles'
@import '../_animations'

.main
  display: flex
  background-color: $rose

.sidebar
  width: 298px
  padding: 0rem 1rem
  background-color: darken($rose, 1%)
  border-right: 1px solid darken($rose, 10%)
  height: 100vh
  display: flex
  flex-direction: column
  font-size: 0.9rem

.header
  display: flex
  justify-content: space-between
  align-items: center

.content
  flex-grow: 1
  position: relative

.svg-icon
  transition: fill 0.3s ease-in-out