<div class="form">
  <div class="form--group">
    <input
      type="string"
      inputmode="decimal"
      placeholder="Minutes"
      class="form--input"
      [ngClass]="{
        'form--input--error': userMinutesInput.invalid && isStartTimerTouched
      }"
      [(ngModel)]="userMinutes"
      #userMinutesInput="ngModel"
      [disabled]="isDisabled"
      (ngModelChange)="onUserMinutesChange($event)"
      id="userMinutes"
      min="0"
      step="1"
      required
      appIntegerValidator
    />
    <small><i>OR</i></small>
    <select
      id="speechPreset"
      [(ngModel)]="selectedPreset"
      (change)="presetChange.emit($event)"
      [disabled]="isDisabled"
    >
      <option
        *ngFor="let preset of speechPresets | keyvalue"
        [value]="preset.key"
      >
        {{ preset.key | capitalize }}
        <ng-container *ngIf="preset.value">
          | {{ preset.value }}min
        </ng-container>
      </option>
    </select>
  </div>
  <div
    *ngIf="userMinutesInput.invalid && isStartTimerTouched"
    class="form--error"
  >
    {{ userMinutesInput.errors?.['message']}}
  </div>
</div>
<div class="controls">
  <button (click)="startOrStopAction.emit()" class="controls--button full">
    {{ timer ? "Stop" : "Start" }}
  </button>
  <button (click)="resetTimer.emit()" class="controls--button secondary">
    Reset
  </button>
  <button (click)="toggleSeconds.emit()" class="controls--button secondary">
    {{ displaySeconds ? "Hide" : "Show" }} time
  </button>
</div>
